### --- Python & Virtual Environments --- ###
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
.env

### --- Databricks & SDP Specifics --- ###
_checkpoints/
.databricks/
autoloader_schema/
*.dbfs

### --- IDEs & OS --- ###
.vscode/
.idea/
.DS_Store
Thumbs.db

### --- Data & Simulation (Local) --- ###
*.parquet
*.csv
*.json
!simulation/requirements.txt
!jobs/job_config.json